{% extends "base.html" %}

{% block content %}
<form action="{{ request.path }}" method="POST" class="...">

    {{ form.csrf_token }}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {{ form.email(class_="form-control",placeholder="Email")}}

    {% for error in form.email.errors %}
        {{ error }}
    {% endfor%}

    {{ form.pwd(class_="form-control",placeholder="Password")}}

    {% for error in form.pwd.errors %}
        {{ error }}
    {% endfor%}


    <button type="submit" class="btn btn-block btn-primary mb-3">
        Log In
    </button>

</form>
{% endblock %}
