{% extends "bootstrap.j2" %}

{% block content %}
    <style>
        .scores .boxscore,
        .scores .boxscore table,
        .scores .boxscore .game-box-info .game-info,
        .probables table,
        .standings table,
        .leaders table {
            font-size: 12px;
        }
        .scores .scoretable .record {
            width: 99%;
        }
        .scores .scoretable .fw-bold {
            white-space: nowrap;
        }
        .scores .scoretable {
            margin-bottom: 0;
        }
        .scores .scoretable .text-center {
            padding-left: 10px;
            padding-right: 10px;
        }
        .scores .border {
            border: 1px solid #dee2e6 !important;
        }
        .scores .rounded {
            border-radius: 0.25rem !important;
        }
    </style>
    <div class="container">
        {% set teams = ['away', 'home'] %}
        <div class="scores border-top py-3">
            <h2>Yesterday's Scores</h2>
            {% for boxscore in boxscores %}
                <div class="mb-3 px-3 py-1 border rounded">
                    <table class="table scoretable table-sm table-striped">
                        <caption>
                            {% if boxscore.linescore.currentInning != '' %}
                                {{ boxscore.status }}/{{ boxscore.linescore.currentInning }}
                            {% else %}
                                {{ boxscore.status }}
                            {% endif %}
                        </caption>
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th class="text-center">R</th>
                                <th class="text-center">H</th>
                                <th class="text-center">E</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for team in teams %}
                                <tr>
                                    <td class="fw-bold">
                                        {{ boxscore.teams[team].name.shortName }} {{ boxscore.teams[team].name.teamName }}
                                    <td class="fw-light record">
                                        ({{ boxscore.teams[team].record }})
                                    </td>
                                    <td class="text-center fw-bold">{{ boxscore.linescore.teams[team].runs }}</td>
                                    <td class="text-center fw-bold">{{ boxscore.linescore.teams[team].hits }}</td>
                                    <td class="text-center fw-bold">{{ boxscore.linescore.teams[team].errors }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <details class="p-1">
                        <summary>Linescore</summary>
                        <table class="table table-bordered text-center">
                            <caption class="border border-top-0 px-2 py-1">
                                {% if boxscore.linescore.currentInning != '' %}
                                    {{ boxscore.status }} - {{ boxscore.linescore.currentInning }}
                                {% else %}
                                    {{ boxscore.status }}
                                {% endif %}
                            </caption>
                            <thead>
                                <tr>
                                    <th class="border-0"></th>
                                    {% for inning in boxscore.linescore.innings %}
                                        <th class="fw-normal">{{ inning.num }}</th>
                                    {% endfor %}
                                    <th>R</th>
                                    <th>H</th>
                                    <th>E</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for team in teams %}
                                    <tr>
                                        <th class="text-start">{{ boxscore.teams[team].name.abbreviation }}</th>
                                        {% for inning in boxscore.linescore.innings %}
                                            <td>{{ inning[team].runs }}</td>
                                        {% endfor %}
                                        <th>{{ boxscore.linescore.teams[team].runs }}</th>
                                        <th>{{ boxscore.linescore.teams[team].hits }}</th>
                                        <th>{{ boxscore.linescore.teams[team].errors }}</th>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <details>
                            <summary>Box Score</summary>
                            <div class="boxscore border-top">
                                <section>
                                    <div class="boxscore_category d-flex flex-wrap">
                                        {% for team in teams %}
                                            <div class="boxscore_team p-2 flex-fill">
                                                <div class="team_title">
                                                    {{ boxscore.teams[team].name.shortName }} {{ boxscore.teams[team].name.teamName }} Hitting
                                                </div>
                                                <div class="team_table">
                                                    <table class="table table-sm table-striped text-center border-end">
                                                        <thead>
                                                            <tr class="border-top">
                                                                <th class="text-start border-end">HITTERS</th>
                                                                <th>AB</th>
                                                                <th>R</th>
                                                                <th>H</th>
                                                                <th>RBI</th>
                                                                <th>HR</th>
                                                                <th>BB</th>
                                                                <th>K</th>
                                                                <th>AVG</th>
                                                                <th>OBP</th>
                                                                <th>SLG</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for batter in boxscore.teams[team].batters[1:] %}
                                                                <tr>
                                                                    <td class="text-start border-end">{{ batter.namefield }}</td>
                                                                    <td>{{ batter.ab }}</td>
                                                                    <td>{{ batter.r }}</td>
                                                                    <td>{{ batter.h }}</td>
                                                                    <td>{{ batter.rbi }}</td>
                                                                    <td>{{ batter.hr }}</td>
                                                                    <td>{{ batter.bb }}</td>
                                                                    <td>{{ batter.k }}</td>
                                                                    <td>{{ batter.avg }}</td>
                                                                    <td>{{ batter.obp }}</td>
                                                                    <td>{{ batter.slg }}</td>
                                                                </tr>
                                                            {% endfor %}
                                                            <tr>
                                                                <th class="text-start border-end">TEAM</th>
                                                                <th>{{ boxscore.teams[team].battingTotals.ab }}</th>
                                                                <th>{{ boxscore.teams[team].battingTotals.r }}</th>
                                                                <th>{{ boxscore.teams[team].battingTotals.h }}</th>
                                                                <th>{{ boxscore.teams[team].battingTotals.rbi }}</th>
                                                                <th>{{ boxscore.teams[team].battingTotals.hr }}</th>
                                                                <th>{{ boxscore.teams[team].battingTotals.bb }}</th>
                                                                <th>{{ boxscore.teams[team].battingTotals.k }}</th>
                                                                <th></th>
                                                                <th></th>
                                                                <th></th>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="team_notes pb-2">
                                                    {% if boxscore.teams[team].battingNotes|length > 0 %}
                                                        {% for x in range(boxscore.teams[team].battingNotes|length + 1) %}
                                                        <div class="team-note">
                                                            {{ boxscore.teams[team].battingNotes[x] }}
                                                        </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                                <div class="team-info pb-2">
                                                    {% for category in boxscore.teams[team].info %}
                                                        <div class="category pb-2">
                                                            <div class="fw-bold">{{ category.title }}</div>
                                                            {% for item in category.fieldList %}
                                                                <div class="stat">
                                                                    <span class="fw-bold">{{ item.label }}:</span> {{ item.value }}
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="boxscore_category d-flex flex-wrap">
                                        {% for team in teams %}
                                            <div class="boxscore_team p-2 flex-fill">
                                                <div class="team_title">
                                                    {{ boxscore.teams[team].name.shortName }} {{ boxscore.teams[team].name.teamName }} Pitching
                                                </div>
                                                <div class="team_table">
                                                    <table class="table table-sm table-striped text-center border-end">
                                                        <thead>
                                                            <tr class="border-top">
                                                                <th class="text-start border-end">PITCHERS</th>
                                                                <th>IP</th>
                                                                <th>H</th>
                                                                <th>R</th>
                                                                <th>ER</th>
                                                                <th>BB</th>
                                                                <th>K</th>
                                                                <th>HR</th>
                                                                <th>ERA</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for pitcher in boxscore.teams[team].pitchers[1:] %}
                                                                <tr>
                                                                    <td class="text-start border-end">{{ pitcher.namefield }}</td>
                                                                    <td>{{ pitcher.ip }}</td>
                                                                    <td>{{ pitcher.h }}</td>
                                                                    <td>{{ pitcher.r }}</td>
                                                                    <td>{{ pitcher.er }}</td>
                                                                    <td>{{ pitcher.bb }}</td>
                                                                    <td>{{ pitcher.k }}</td>
                                                                    <td>{{ pitcher.hr }}</td>
                                                                    <td>{{ pitcher.era }}</td>
                                                                </tr>
                                                            {% endfor %}
                                                            <tr>
                                                                <th class="text-start border-end">TEAM</th>
                                                                <th>{{ boxscore.teams[team].pitchingTotals.ip }}</th>
                                                                <th>{{ boxscore.teams[team].pitchingTotals.h }}</th>
                                                                <th>{{ boxscore.teams[team].pitchingTotals.r }}</th>
                                                                <th>{{ boxscore.teams[team].pitchingTotals.er }}</th>
                                                                <th>{{ boxscore.teams[team].pitchingTotals.bb }}</th>
                                                                <th>{{ boxscore.teams[team].pitchingTotals.k }}</th>
                                                                <th>{{ boxscore.teams[team].pitchingTotals.hr }}</th>
                                                                <th></th>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="game-box-info">
                                        {% for note in boxscore.info %}
                                            <div class="game-info">
                                                {% if note.value %}
                                                    <span class="fw-bold">{{ note.label }}: </span>{{ note.value }}
                                                {% else %}
                                                    {{ note.label }}
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </section>
                            </div>
                        </details>
                    </details>
                </div>
            {% endfor %}
        </div>
        <!-- Probables -->
        <div class="probables border-top py-3">
            <h2>Today's Games</h2>
            <table class="table table-sm table-striped">
                <thead>
                    <tr>
                        <th colspan="2">Matchup</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for game in probables %}
                        <tr>
                            {% for team in teams %}
                                <td>
                                    <div class="fw-bold">{{ game.teams[team].name }}</div>
                                    <div class="fw-light">SP:&nbsp;
                                        {% if game.teams[team].pitcher != '' %}
                                            {{ game.teams[team].pitcher }}
                                        {% else %}
                                            TBD
                                        {% endif %}
                                    </div>
                                </td>
                            {% endfor %}
                            <td>{{ game.time }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- Standings -->
        <div class="standings border-top py-3">
            <h2>Standings</h2>
            <div class="d-flex flex-wrap">
                {% for division in standings %}
                    <div class="flex-fill p-2">
                        <table class="table table-sm table-striped caption-top">
                            <thead>
                                <tr>
                                    <th>{{ division.div_name }}</th>
                                    <th>W</th>
                                    <th>L</th>
                                    <th>Pct</th>
                                    <th>GB</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for team in division.teams %}
                                    <tr>
                                        <th>{{ team.name }}</th>
                                        <td>{{ team.w }}</td>
                                        <td>{{ team.l }}</td>
                                        <td>{{ (team.w/(team.w + team.l))|round(3) }}</td>
                                        <td>{{ team.gb }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- Leaders -->
        <div class="leaders border-top py-3">
            <h2>League Leaders</h2>
            {% set groups = ['Batting', 'Pitching'] %}
            {% set categories = {
                'Batting': [
                    'Batting Average',
                    'Home Runs',
                    'Runs Batted In',
                    'OPS',
                    'Stolen Bases'
                ],
                'Pitching': [
                    'Wins',
                    'Strikeouts',
                    'ERA',
                    'WHIP',
                    'Saves'
                ]
            } %}
            {% set leagues = ['American League', 'National League'] %}
            {% for group in groups %}
                <div class="group">
                    <h3>{{ group }}</h3>
                    {% for bbcategory in categories[group] %}
                        <div class="category">
                            <h4>{{ bbcategory }}</h4>
                            <div class="d-flex flex-wrap">
                                {% for league in leagues %}
                                    <div class="col league p-2">
                                        {% for item in leaders[group].league[league] %}
                                            {% if item.category == bbcategory %}
                                                <h5>{{ league }}</h5>
                                                <table class="table table-sm table-striped">
                                                    <tbody>
                                                        {% for leader in item.leaders %}
                                                            <tr>
                                                                <th>{{ leader.1 }}</th>
                                                                <td>{{ leader.2 }}</td>
                                                                <th>{{ leader.3 }}</th>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}