{% block content %}
    <div style="font-size: 14px">
        {% set teams = ['away', 'home'] %}
        <div class="scores" style="border-top-width: 1px; padding-top: 3px; padding-bottom: 3px">
            <h2>Yesterday's Scores</h2>
            {% for boxscore in boxscores %}
                <div class="score" style="padding-bottom: 10px; border-top-style: solid; padding-top: 10px">
                    <table style="margin: 0; caption-side: bottom">
                        <caption style="font-size: 12px; margin-bottom: 10px">
                            {% if (boxscore.linescore.currentInning != '') %}
                                {{ boxscore.status }}/{{ boxscore.linescore.currentInning }}
                            {% else %}
                                {{ boxscore.status }}
                            {% endif %}
                        </caption>
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th style="text-align: center; padding-right: 10px; padding-left: 10px">R</th>
                                <th style="text-align: center; padding-right: 10px; padding-left: 10px">H</th>
                                <th style="text-align: center; padding-right: 10px; padding-left: 10px">E</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for team in teams %}
                                <tr>
                                    <td style="font-weight: bold; white-space: nowrap">
                                        {{ boxscore.teams[team].name.shortName }}
                                    <td style="width: 99%; white-space: nowrap">
                                        ({{ boxscore.teams[team].record }})
                                    </td>
                                    <td style="text-align: center; font-weight: bold">{{ boxscore.linescore.teams[team].runs }}</td>
                                    <td style="text-align: center; font-weight: bold">{{ boxscore.linescore.teams[team].hits }}</td>
                                    <td style="text-align: center; font-weight: bold">{{ boxscore.linescore.teams[team].errors }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <details class="linescore">
                        <summary>Linescore</summary>
                        <table style="text-align: center; width: 100%">
                            <thead>
                                <tr>
                                    <th style="width: 25%"></th>
                                    {% for inning in boxscore.linescore.innings %}
                                        <th style="font-weight: normal">{{ inning.num }}</th>
                                    {% endfor %}
                                    <th>R</th>
                                    <th>H</th>
                                    <th>E</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for team in teams %}
                                    <tr>
                                        <th style="text-align: left">{{ boxscore.teams[team].name.abbreviation }}</th>
                                        {% for inning in boxscore.linescore.innings %}
                                            {% if inning[team].runs != '' %}
                                                <td>{{ inning[team].runs }}</td>
                                            {% else %}
                                                <td>x</td>
                                            {% endif %}
                                        {% endfor %}
                                        <th>{{ boxscore.linescore.teams[team].runs }}</th>
                                        <th>{{ boxscore.linescore.teams[team].hits }}</th>
                                        <th>{{ boxscore.linescore.teams[team].errors }}</th>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <details>
                            <summary>Box Score</summary>
                            <div style="border-top-width: 1px; font-size: 12px">
                                {% for team in teams %}
                                    <div style="margin: 10px 0">
                                        <table style="width: 100%; text-align: center; font-size: 12px; margin-bottom: 10px">
                                            <thead>
                                                <tr style="border-top-style: solid; border-bottom-style: solid">
                                                    <th style="text-align: left; width: 25%">Batters - {{ boxscore.teams[team].name.teamName }}</th>
                                                    <th>AB</th>
                                                    <th>R</th>
                                                    <th>H</th>
                                                    <th>RBI</th>
                                                    <th>HR</th>
                                                    <th>BB</th>
                                                    <th>K</th>
                                                    <th>AVG</th>
                                                    <th>OBP</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for batter in boxscore.teams[team].batters[1:] %}
                                                <tr>
                                                    <th style="text-align: left">{{ batter.namefield }}</th>
                                                    <td>{{ batter.ab }}</td>
                                                    <td>{{ batter.r }}</td>
                                                    <td>{{ batter.h }}</td>
                                                    <td>{{ batter.rbi }}</td>
                                                    <td>{{ batter.hr }}</td>
                                                    <td>{{ batter.bb }}</td>
                                                    <td>{{ batter.k }}</td>
                                                    <td>{{ batter.avg }}</td>
                                                    <td>{{ batter.obp }}</td>
                                                </tr>
                                            {% endfor %}
                                            <tr>
                                                <th style="text-align: left">Totals</th>
                                                <th>{{ boxscore.teams[team].battingTotals.ab }}</th>
                                                <th>{{ boxscore.teams[team].battingTotals.r }}</th>
                                                <th>{{ boxscore.teams[team].battingTotals.h }}</th>
                                                <th>{{ boxscore.teams[team].battingTotals.rbi }}</th>
                                                <th>{{ boxscore.teams[team].battingTotals.hr }}</th>
                                                <th>{{ boxscore.teams[team].battingTotals.bb }}</th>
                                                <th>{{ boxscore.teams[team].battingTotals.k }}</th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div style="padding-bottom: 10px">
                                        {% if boxscore.teams[team].battingNotes|length > 0 %}
                                            {% for x in range(boxscore.teams[team].battingNotes|length + 1) %}
                                                <div class="team-note">
                                                    {{ boxscore.teams[team].battingNotes[x] }}
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    <div style="padding-bottom: 10px">
                                        {% for category in boxscore.teams[team].info %}
                                            <div style="padding-bottom: 10px">
                                                <div style="font-weight: bold">{{ category.title }}</div>
                                                {% for item in category.fieldList %}
                                                    <div class="stat">
                                                        <span style="font-weight: bold">{{ item.label }}:</span> {{ item.value }}
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                            <div style="font-size: 12px">
                                {% for team in teams %}
                                    <div class="team_table">
                                        <table style="text-align: center;font-size: 12px; width: 100%; margin-bottom: 10px">
                                            <thead>
                                                <tr style="border-top-style: solid; border-bottom-style: solid">
                                                    <th style="text-align: left; width: 35%">Pitchers - {{ boxscore.teams[team].name.teamName }}</th>
                                                    <th>IP</th>
                                                    <th>H</th>
                                                    <th>R</th>
                                                    <th>ER</th>
                                                    <th>BB</th>
                                                    <th>K</th>
                                                    <th>HR</th>
                                                    <th>ERA</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for pitcher in boxscore.teams[team].pitchers[1:] %}
                                                    <tr>
                                                        <th style="text-align: left">{{ pitcher.namefield }}</th>
                                                        <td>{{ pitcher.ip }}</td>
                                                        <td>{{ pitcher.h }}</td>
                                                        <td>{{ pitcher.r }}</td>
                                                        <td>{{ pitcher.er }}</td>
                                                        <td>{{ pitcher.bb }}</td>
                                                        <td>{{ pitcher.k }}</td>
                                                        <td>{{ pitcher.hr }}</td>
                                                        <td>{{ pitcher.era }}</td>
                                                    </tr>
                                                {% endfor %}
                                                <tr>
                                                    <th style="text-align: left">Totals</th>
                                                    <th>{{ boxscore.teams[team].pitchingTotals.ip }}</th>
                                                    <th>{{ boxscore.teams[team].pitchingTotals.h }}</th>
                                                    <th>{{ boxscore.teams[team].pitchingTotals.r }}</th>
                                                    <th>{{ boxscore.teams[team].pitchingTotals.er }}</th>
                                                    <th>{{ boxscore.teams[team].pitchingTotals.bb }}</th>
                                                    <th>{{ boxscore.teams[team].pitchingTotals.k }}</th>
                                                    <th>{{ boxscore.teams[team].pitchingTotals.hr }}</th>
                                                    <th></th>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                {% endfor %}
                            </div>
                            <div style="font-size: 12px">
                                {% for note in boxscore.info %}
                                    <div style="margin-bottom: 10px">
                                        {% if note.value %}
                                            <span style="font-weight: bold">{{ note.label }}: </span>{{ note.value }}
                                        {% else %}
                                            <span style="font-weight: bold">{{ note.label }}</span>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        </details>
                    </details>
                </div>
            {% endfor %}
        </div>
        <!-- Probables -->
        <div class="probables">
            <h2>Today's Games</h2>
            <table style="width: 100%">
                <tbody style="border-top-style: solid">
                    {% for game in probables %}
                        <tr style="border-bottom: none">
                            <th style="white-space: nowrap; border: none; padding-bottom: 0; width: 99%; padding-top: 15px; text-align: left">
                                {{ game.teams.away.name }}
                                {% if game.teams.away.pitcher != '' %}
                                    <span style="font-weight: normal">({{ game.teams.away.pitcher }})</span>
                                {% else %}
                                    <span style="font-weight: normal">(TBD)</span>
                                {% endif %}
                            </th>
                            <td rowspan="2" style="white-space: nowrap; border: none; vertical-align: middle; padding-top: 15px; padding-bottom: 15px; text-align: right">{{ game.time }}</td>
                        </tr>
                        <tr style="border-bottom-style: solid">
                            <th style="white-space: nowrap; border: none; width: 99%; padding-bottom: 15px; text-align: left">
                                {{ game.teams.home.name }}
                                {% if game.teams.home.pitcher != '' %}
                                    <span style="font-weight: normal">({{ game.teams.home.pitcher }})</span>
                                {% else %}
                                    <span style="font-weight: normal">(TBD)</span>
                                {% endif %}
                            </th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- Standings -->
        <div style="padding-top: 10px; padding-bottom: 10px">
            <h2>Standings</h2>
            <div>
                {% for division in standings %}
                    <div >
                        <table style="width: 100%; text-align: center; margin-bottom: 10px">
                            <thead>
                                <tr style="border-top-style: solid; border-bottom-style: solid">
                                    <th style="text-align: left; width: 50%">{{ division.div_name }}</th>
                                    <th>W</th>
                                    <th>L</th>
                                    <th>Pct</th>
                                    <th>GB</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for team in division.teams %}
                                    <tr>
                                        <th style="text-align: left">{{ team.name }}</th>
                                        <td>{{ team.w }}</td>
                                        <td>{{ team.l }}</td>
                                        <td>{{ (team.w/(team.w + team.l))|round(3) }}</td>
                                        <td>{{ team.gb }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- Leaders -->
        <div class="leaders border-top py-3">
            <h2>League Leaders</h2>
            {% set groups = ['Batting', 'Pitching'] %}
            {% set categories = {
                'Batting': [
                    'Batting Average',
                    'Home Runs',
                    'Runs Batted In',
                    'OPS',
                    'Stolen Bases'
                ],
                'Pitching': [
                    'Wins',
                    'Strikeouts',
                    'ERA',
                    'WHIP',
                    'Saves'
                ]
            } %}
            {% set leagues = ['American League', 'National League'] %}
            {% for group in groups %}
                <div class="group">
                    <h3>{{ group }}</h3>
                    {% for bbcategory in categories[group] %}
                        <div class="category">
                            <h4>{{ bbcategory }}</h4>
                            <div class="d-flex flex-wrap">
                                {% for league in leagues %}
                                    <div class="col league p-2">
                                        {% for item in leaders[group].league[league] %}
                                            {% if item.category == bbcategory %}
                                                <table style="width: 100%; margin-bottom: 10px">
                                                    <thead>
                                                        <tr style="border-bottom-style: solid; border-top-style: solid">
                                                            <th colspan="3" style="text-align: left">{{ bbcategory }} - {{ league }}</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for leader in item.leaders %}
                                                            <tr>
                                                                <th style="text-align: left; white-space: nowrap">{{ leader.1 }}</th>
                                                                <td style="text-align: left; width: 99%">{{ leader.2 }}</td>
                                                                <th style="text-align: right; white-space: nowrap">{{ leader.3 }}</th>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}